name: microtube
services:
  server:
    image: ${BACKEND_IMAGE:-registry.local/microtube/main-service:latest}
    volumes:
      - ./log:/opt/app/logs
      - ./tmp/:/opt/app/tmp
    networks:
      - default
    ports:
      - ${PUBLISHED_PORT:-8081}:8080
      - name: actuator
        host_ip: 127.0.0.1
        target: 8081
        published: ${ACTUATOR_PORT:-8081}
        app_protocol: http
    depends_on:
      mysql.db:
        condition: service_healthy
    healthcheck:
      test: sh -c "curl -f http://localhost:8080${SERVER_BASE_PATH-}/healthcheck"
      interval: 20s
      timeout: 10s
      retries: 10
    environment:
      # Application configs
      SPRING_ACTIVES_PROFILE: prod
      SERVER_BASE_PATH: ${SERVER_BASE_PATH-}
      ACTUATOR_HOST: 0.0.0.0
      ACTUATOR_PORT: 8081
#      LOGGING_CONFIG_FILEPATH=/app/config/logback-spring.xml
      # Database configs (may put this to .env file)
      MAIN_DB_URL: ${MAIN_DB_URL:-r2dbc:mysql://mysql.db:3306/MICROTUBE}
      MAIN_DB_USERNAME: ${MAIN_DB_USERNAME:-dbuser}
      MAIN_DB_PASSWORD: ${MAIN_DB_PASSWORD:-abc123}
      OBJECT_STORE_URL: ${OBJECT_STORE_URL:-http://minio:9000}
      OBJECT_STORE_USERNAME: ${OBJECT_STORE_USERNAME:-admin}
      OBJECT_STORE_PASSWORD: ${OBJECT_STORE_PASSWORD:-minioadmin}
      OBJECT_STORE_BUCKET_HLS: ${OBJECT_STORE_BUCKET_HLS:-hls}
      OBJECT_STORE_BUCKET_USER_STORE: ${OBJECT_STORE_BUCKET_USER_STORE:-user-store}
      FLUENTD_HOST: ${FLUENTD_HOST:-fluentd}
      FLUENTD_PORT: ${FLUENTD_PORT:-24224}
      ZIPKIN_ENDPOINT: ${ZIPKIN_ENDPOINT:-http://127.0.0.1:9411/api/v2/spans}
#    logging:
#      driver: fluentd
#      options:
#        fluentd-address: ${FLUENTD_ADDRESS:-localhost:24224}
#        tag: "{{.ImageName}}"
#        fluentd-async:
##        fluentd-async-reconnect-interval: 2s
#        fluentd-buffer-limit: 524288
##        fluentd-retry-wait: 1
##        fluentd-max-retries: 4294967295
#        fluentd-sub-second-precision:

#volumes:
#  server-log:
#    driver: local

#  secrets:
#    db-password:
#     file: db/password.txt
